* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.background {
  background-color: #12181b;
  height: 100vh;
  padding-top: 1px;
}
.title {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 10%;
}
.display {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.hide {
  display: none;
}
.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 300px;
  height: 300px;
}
.tile {
  border: 1px solid white;
  max-width: 100px;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}
.playerX {
  color: #09c372;
}
.playerO {
  color: #498afb;
}
.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
#reset {
  background-color: red;
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  margin-left: 1em;
  cursor: pointer;
}
#result {
  background-color: rgb(68, 248, 173);
  color: rgb(30, 46, 48);
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  margin-left: 1em;
  cursor: pointer;
}
#scorex {
  color: #09c372;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: 30px;
}
#scoreo {
  color: #498afb;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: 30px;
}
